.menuList {
	padding: 20px;
	display: flex;
	font-size: 20px;

	flex-direction: row;
}
.menuList button {
	border: none;
	background-color: var(--light-var);
	/* padding-top: 2px; */
	font-size: 20px;
	margin-top: 4px;
}
.menuList:last-child {
	border: none;
}
#image {
	width: 100%;
	height: 180px;
}

@media (min-width: 449px) {
	#image {
		width: 80%;
		height: 200px;
	}
}
@media (min-width: 570px) {
	#image {
		width: 70%;
		height: 200px;
	}
}
@media (min-width: 700px) {
	#image {
		width: 80%;
		height: 260px;
	}
}
@media (min-width: 812px) {
	#image {
		width: 70%;
		height: 290px;
	}
}
@media (min-width: 940px) {
	#image {
		width: 60%;
		height: 300px;
	}
}
@media (min-width: 1140px) {
	#image {
		width: 50%;
		height: 320px;
	}
}
